<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.friend.projectmanagement.dao.FileMapper">
  <resultMap id="BaseResultMap" type="com.friend.projectmanagement.entity.File">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="upload_time" jdbcType="TIMESTAMP" property="uploadTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from file
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.friend.projectmanagement.entity.File">
    insert into file (id, path, type, 
      upload_time)
    values (#{id,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{uploadTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.friend.projectmanagement.entity.File">
    update file
    set path = #{path,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      upload_time = #{uploadTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, path, type, upload_time
    from file
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, path, type, upload_time
    from file
  </select>
</mapper>