<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.friend.projectmanagement.dao.KeyResultDao">

    <sql id="keyResultColumns">
        a.id id,
        a.description description,
        a.name name,
        a.objective_id objectiveId,
        a.disabled disabled,
        a.create_time createTime
    </sql>

    <sql id="keyResultJoins">

    </sql>

    <select id="getById" resultType="com.company.project.generator.domain.KeyResult">
        SELECT
        <include refid="keyResultColumns"/>
        FROM key_result a
        <include refid="keyResultJoins"/>
        WHERE a.id = #{id}
    </select>

    <select id="get" resultType="com.company.project.generator.domain.KeyResult" parameterType="KeyResult">
        SELECT
        <include refid="keyResultColumns"/>
        FROM key_result a
        <include refid="keyResultJoins"/>
        <where>

        </where>
    </select>

    <select id="findPage" resultType="com.company.project.generator.domain.KeyResult">
        SELECT
        <include refid="keyResultColumns"/>
        FROM key_result a
        <include refid="keyResultJoins"/>
        <where>

        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO key_result (
        id,
        description,
        name,
        objective_id,
        disabled,
        create_time
        ) VALUES (
        #{id},
        #{description},
        #{name},
        #{objectiveId},
        #{disabled},
        #{createTime}
        )
    </insert>

    <update id="update">
        UPDATE key_result SET
        <if test="id != null and id != ''">
            id = #{id},
        </if>
        <if test="description != null and description != ''">
            description = #{description},
        </if>
        <if test="name != null and name != ''">
            name = #{name},
        </if>
        <if test="objectiveId != null and objectiveId != ''">
            objective_id = #{objectiveId},
        </if>
        <if test="disabled != null">
            disabled = #{disabled},
        </if>
        <if test="createTime != null">
            create_time = #{createTime}
        </if>
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM key_result
        WHERE id = #{id}
    </delete>
</mapper>