<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.friend.projectmanagement.dao.ProjectMapper">
  <resultMap id="BaseResultMap" type="Project">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="disabled" jdbcType="BIT" property="disabled" />
    <result column="team_id" jdbcType="VARCHAR" property="teamId" />
    <result column="due_time" jdbcType="TIMESTAMP" property="dueTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>

</mapper>