<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.friend.projectmanagement.dao.UserDao">

    <sql id="userColumns">
        user.id id,
        user.name name,
        user.team_id teamId,
        user.create_time createTime,
        user.last_login lastLogin,
        user.phone phone,
        user.disabled disabled,
        user.password password,
        user.gender gender,
        user.email email
    </sql>

    <sql id="userJoins">

    </sql>

    <select id="getById" resultType="User">
        SELECT
        <include refid="userColumns"/>
        FROM user
        <include refid="userJoins"/>
        WHERE user.id = #{id}
    </select>

    <select id="get" resultType="User" parameterType="User">
        SELECT
        <include refid="userColumns"/>
        FROM user
        <include refid="userJoins"/>
        <where>

        </where>
    </select>

    <select id="findPage" resultType="User">
        SELECT
        <include refid="userColumns"/>
        FROM user
        <include refid="userJoins"/>
        <where>

        </where>
    </select>

    <insert id="insert" parameterType="User">
        INSERT INTO user (
        id,
        name,
        team_id,
        create_time,
        last_login,
        phone,
        disabled,
        password,
        gender,
        email
        ) VALUES (
        #{id,jdbcType=VARCHAR},
        #{name,jdbcType=VARCHAR},
        #{teamId,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP},
        #{lastLogin,jdbcType=TIMESTAMP},
        #{phone,jdbcType=VARCHAR},
        #{disabled,jdbcType=TINYINT},
        #{password,jdbcType=VARCHAR},
        #{gender,jdbcType=TINYINT},
        #{email,jdbcType=VARCHAR}
        )
    </insert>

    <update id="update">
        UPDATE user SET
        <if test="id != null and id != ''">
            id = #{id},
        </if>
        <if test="name != null and name != ''">
            name = #{name},
        </if>
        <if test="teamId != null and teamId != ''">
            team_id = #{teamId},
        </if>
        <if test="createTime != null">
            create_time = #{createTime},
        </if>
        <if test="lastLogin != null">
            last_login = #{lastLogin},
        </if>
        <if test="phone != null and phone != ''">
            phone = #{phone},
        </if>
        <if test="disabled != null">
            disabled = #{disabled},
        </if>
        <if test="password != null and password != ''">
            password = #{password},
        </if>
        <if test="gender != null">
            gender = #{gender},
        </if>
        <if test="email != null and email != ''">
            email = #{email}
        </if>
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM user
        WHERE id = #{id}
    </delete>

    <select id="selectByUsernamePassword" resultType="User">
        SELECT
        <include refid="userColumns"/>
        FROM user WHERE name=#{username} AND password=#{password} AND disabled=0
    </select>
</mapper>